/* Body Styles */
body {
	background-color: rgb(230, 230, 230);
}


/* main section styles */
body > section:first-of-type {
	background-color: white;
	width: 90%;
	margin: auto;
}

/* Nav Styles */
nav {
	background-color: white;
	width: 90%;
	margin: 5px auto 5px auto;

}

nav ul li {
	list-style: none;
	float: left;

	padding: 5px;
}

nav ul a:nth-of-type(5), nav ul a:nth-of-type(6) {
	float: right;
}


/* clear fix */
.clearfix {
	clear: both;
}